@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
  margin: 0;
  padding: 0;
  background-color:#b0b0b5;
}

.logo {
  float: left;
  vertical-align: text-top;

}
/* ~~ Top Navigation Bar ~~ */


.photo{
  display: block;
  position: absolute;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  /*padding-top: 25%;*/
  


}